{% extends 'match_teams/base.html' %}

{% load staticfiles %}

	{% block title %}Informacion{% endblock %}
    

    {% block body_block %}
    	<div class="page-header">
	        <h1>MOBAGestor</h1>
	    </div>
		<p>Página creada para la asignatura de DAI e IV. Dicha página permite crear equipos relacionados con los MOBA y añadir jugadores a ellos. Tiene implementada algunas funciones que realizamos en las práctica de DAI, como un mapa.</p>
		<p>Dadas las fechas, esta no es la versión final mostrada en DAI, solo contiene algunas funciones básicas para poder realizar la práctica final de la asignatura IV</p>
	    {% endblock %}

</html>
